.mobile{
background-repeat: no-repeat;
  background-size: content;
  display: inline-block;
  width: 340px;
  background-position: center;
  content: '';
  position: relative;
  top: -50px;
}
.bubble img {
  max-width: 240px;
  border-radius:10px
}
.chat-w {
    display: inline-block;
    height: 461px;
    width: 340px;
    position: absolute;
  overflow: hidden;
}

body{
 font-family: 'Roboto', sans-serif;
  font-weight: 400;
  margin:0;
  background-color: #ccc;
}
.chat-w ul{
  margin: 0;padding: 0;
}
.chat-w ul li{
  list-style-type: none;
  display: none;
      margin: 10px 0px 10px 0px;;
  clear: both;
  overflow: hidden;
  padding: 10px;
  
  
}  
.bubble {
    position: relative;
    width: 80%;
padding: 8px;
  float: left;
display: inline-block;
vertical-align:middle;

  font-size: 13px;
  color: #333;
  text-align: left;

   background-color: #e5e5ea;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
    box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
}
  .bubble2 {
    position: relative;
    width: 80%;  
    padding: 8px;
    float: right;
    text-align: left;
    display: inline-block;
vertical-align:middle;
    font-size: 13px;
    color: #fff;
    background-color: #6cd890;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
    -moz-box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
    box-shadow: 2px 2px 10px 0px rgba(97, 97, 97, 0.5);
}

  .bubble:after {
    content: "";
    position: absolute;
    top: 0px;
    bottom: 0;
    margin: auto;
    height: 0;
    left: -10px;
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #e5e5ea;;
    display: block;
    width: 0;
    z-index: 1;
}

  .bubble2:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    margin:auto;
    height: 0px;
    right: -10px;
    border-style: solid;
    border-width: 10px 0 10px 10px;
    border-color: transparent #6cd890;
    display: block;
    width: 0;
    z-index: 1;
}
.scroll{
  width: 210px;
  overflow: hidden;
  height: 80px;
  display: inline-block;
  position: relative;
}
.car{
  width: 700px;
  display: inline-block;
 position: absolute;
  left: 0;
  top: 0;
}
.car span{
  padding: 20px;
  border: 1px solid #000;
  text-align: center;
  display: inline-block;
  float: left;
  width: 160px;
  margin: 0 10px;
}

.list-wrap li {
  padding-right: 5px;
}

.slider__brand-list img {
    width: 100px;
}